html {
  height: 100%;
  width: 100%;
}

@import url(https://fonts.google.com/specimen/Quicksand);

/*------ structure -----*/

body {
  background-color: #404445;
  margin: auto;
  
}

nav{
  text-align: center;
  margin: auto;
  font-family: "Quicksand",Quicksand;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 40px;
}

img {
  margin:auto;
  width: 30%;
  display: block;
  padding-top: 10px;
  padding-right: -50px;
  padding-bottom: 10px;
  padding-left: 120px;
  
  background-color: #404445;
  text-align: center;
  
}

main,nav,
div {
  width: 800px;
  margin: auto;
  padding-top: 10px;
  padding-right: 160px;
  padding-bottom: 10px;
  padding-left: 30px;
  
}

h1 {
 font-family: "Quicksand",Quicksand;
 font-size: 40px;
 text-align: center;
 color: #400826;
  
  
 }
div>h3 {
  font-family:  "Quicksand",Quicksand;
  font-size: 20px;
  text-align: center;
  color: #400826;
  margin: center;
  
  
}

h2{
  font-family:  "Quicksand",Quicksand;
  font-size: 35px;
  text-align: center;
  color: #400826
}

p{
  font-family:"Quicksand",Quicksand;
  font-size: 15px;
}

ul>li{
  font-family: "Quicksand",Quicksand;
  font-size: 25px;
  color: #400826;
  margin:auto;
  text-align: justify;
  }
header > section > div{
  background-color: #7f6279
  width: 100px;
}
.box {
  
  background-color:#7f6279;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin:center;
}

.round {
  border-radius: 10px;
}


main>div>article>section>header>h2{
   background-color: #7f6279;
}


}
main>div{
  
  
  background-color: #404445;
  text-align: center;
  
  padding-right: 30px;
  
  padding-left: 80px;
  margin:center;
}
hr{
  border: 1px dotted #636363;
}
a {
  color: #bfbfbf;
}
